/*  business card index  */

.business-body {
  background-image: url(../../resources/images/beach001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5E8894;
  font-family: Arial, sans-serif;
}

.business-body > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-body > a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  background-color: #5E8894;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.profile-image {
  max-width: 100%;
}

.full-name {
  font-family: 'Brush Script MT', cursive;
  color: #D5A18C;
  font-size: 32px;
}

/*  kitchen menu  */
body {
  background-image: url(../../resources/images/ramen.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #5E8894;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
  color: #272411;
}

.menu {
  width: 80%;
  background-color: #EAC7A5;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

hr {
  height: 2px;
  background-color: #585E12;
  border-color: #585E12;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.calories {
  text-align: right;
  width: 25%;
}

.detail {
  text-align: left;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

a {
  color: #092016;
}

a:visited {
  color: #092016;
}

a:hover {
  color: #AC6E5f;
}

a:active {
  color: #AC6E5f;
}